@import "variables";
@import "mixin";
@import "transition";
@import "element-ui";
@import "sidebar";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Nene", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
  }

}


.app-main {
  min-height: 100%;
}

.app-container {
  padding: 20px;
}

.operate-container {
  margin-top: 20px;
}

.operate-container .btn-add {
  float: right;
}

.table-container {
  margin-top: 20px;
}

.batch-operate-container {
  display: inline-block;
  margin-top: 20px;
}

.pagination-container {
  display: inline-block;
  float: right;
  margin-top: 20px;
}

.form-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 720px;
  padding: 35px 35px 15px 35px;
  margin: 20px auto;
}

.font-extra-large {
  font-size: 20px;
  color: #303133;
}

.font-title-large {
  font-size: 18px;
  color: #303133;
}

.font-title-medium {
  font-size: 16px;
  color: #303133;
}

$color-msg: #606266;

.font-medium {
  font-size: 16px;
  color: $color-msg;
}

.font-small {
  font-size: 14px;
  color: $color-msg;
}

.font-extra-small {
  font-size: 13px;
  color: $color-msg;
}

.color-main {
  color: #409eff;
}

.color-info {
  color: #909399;
}

.color-info2 {
  color: $color-msg;
}

.color-success {
  color: #67c23a;
}

.color-warning {
  color: #e6a23c;
}

.color-danger {
  color: #f56c6c;
}


